


.about-container{
    
}


.accessibility-container{
    text-align: right;
    li{

    }
    ul{
        
        margin-inline-start: 1em;
        list-style: circle;
        li{
            margin-inline-start: 1em;
        }
    }
}
