


.about-container{

}


.accessibility-container{
    padding: 1em;
    width: 80%;
    margin: auto;
    text-align: right;
    h3{
        text-align: center;
    }
    // font-size: 1.5em;
    // font-size: 2em;
    p{
        font-size: 1.5em;
    }
    h4{
        font-size: 1.5em;
    }
    li{

    }
    ul{
        
        margin-inline-start: 1em;
        list-style: circle;
        li{
            margin-inline-start: 1em;
        }
    }
}
