.cart-container{
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 1em;
    align-items: center;
    // justify-items: center;
    font-size: 1.3em;
    
    @media (max-width:1100px) {
        font-size: 1.2em;
        
    }
    
    @media (max-width:920px) {
        display: block;
        // font-size: 1em;
        
    }

    .empty-cart{
        grid-column: 1/-1;
    }
}


.total-container{
    align-self: end;
    display: grid;
    gap: 0.5em;
    place-items: center;

    margin-top: 1em;
    font-size: 2em;
    font-family: assistantBold;


    background-color: $light-gray;
    background: linear-gradient(135deg, #6ec1e48e 0%, #a8e6a147 100%); // Gradient from light blue to soft green
    border-radius: 5px;
    padding: 1em;
}