
.home-container{
	// padding-top: 150px;
  
  .background-img{
    
    background-image: url('https://res.cloudinary.com/dnxi70mfs/image/upload/v1729002473/20_rjsrgf.jpg');
    background-size: cover;
    
    background-position: center;
    background-repeat: no-repeat;
    
    height: 100vh;  
    width: 100%; 

    color: $light-gray;
    
    
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
      background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 60%, transparent);

      z-index: -1;
    }
  }
  .section {

    // margin-top: 10em;
    // margin-bottom: 10em;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    // min-height: 50vh;
    *{
      
      transition: 0.8s ease-out;
    }
  }
  
  
  
  
  .main-header-container {
    align-items: center;
    font-size: 1.5em;
    position: relative;

    
    
    
    
    
    .background-img {
      // width: 100%;
      // height: auto;
      // object-fit: cover;
      opacity: 0;
    }
    
    
    
    .text-container {
      position: absolute;
      width: 100%;
      // margin-bottom: 150px;
      padding: 2em;
      // text-align: start;
      margin-top: 3em;
      @media (min-width:600px) {
        
        bottom: 0px;
      }
      // height: 90%;
      h2{
        // font-size: clamp(3em, 3.5vw, 5.5em);
        @media (max-width:800px) {
          // font-size: 2em;
          margin-bottom: 0px;
        }
        
      }
      p{
        margin-top: 2em;
        font-size: 1.5em;
        text-align: start;
        max-width: 700px;
        // font-size: clamp(1.5em, 2.5vw, 2.5em);
        @media (max-width:800px) {
          // font-size: 2em;
          margin-top: 0px;
          margin: 0px;
        }
        
      }

    }
  }


  .main-header-container{
    align-items: center;
    font-size: 1.5em;
    position: relative;

    .text-container{
      position: absolute;
      width: 100%;

    
      // margin-bottom: 150px;
 
    }
@media (max-width:500px) {
      // width: 90vw;
      // height: 80vh;
      padding: 1em;
    font-size: 0.8em;
      h2{
        margin-bottom: 0px;
      }
    }

  }

  .home-content-container{
    
    margin: 1em 4em 3em 3em;

    
    @media (max-width:900px) {
      margin-left: 1em;
      margin-right: 1.5em;
      
    }

    .text-container{
      font-size: 2em;
      text-align: start;
    }
  }



  .home-carousel{

    @media (max-width:500px) {
      // width: 90vw;
      margin: auto;

      
    }
  }
  .home-swiper{
    position: relative;
    z-index: 1;


    .img-container{
      // position: relative;

      .header-container{
        // height: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.563) 40%, transparent);
        color: $light-gray;
        position: absolute;
        z-index: 20;
        height: 100%;
        height: calc(30vw);
        max-height: 500px;

        @media (max-width:980px) {
          // height: 200px;

          height: 300px;
          

  }

        // top: 50%;
        // height: fit-content;

        left: 0;
        right: 0;
        // bottom: 0px;
        // top: 50%;
        // top: 0;
        
        display: grid;
        align-items: end;
        // align-items: center;


        .text{
          h2{
            margin-bottom: 0px;
          }
          margin-bottom: 1em;
        }

        @media (max-width:700px) {

          font-size: 0.7em;
        }
        @media (max-width:500px) {

          font-size: 0.5em;
        }
    
    
      }
    }

    
    
  }
  
  



.info-center-container{
    text-align: start;

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,auto);

    margin-top: 2em;

    justify-self: center;

    @media (max-width: 920px) {
      display: flex;
      flex-direction: column;
      gap: 1em;

      .cards-container{
        a{
     
          align-self: center;

        }


      }
      
      .updates-carousel-container{
        justify-self: center;
        align-self: center;
        width: 90vw;
        
        .update-banner{
          font-size: 0.9em;
          grid-template-columns: auto 1fr;
        }
        p{
          text-align: start;

        @media (max-width:600px) {
          font-size: 0.8em;
          
      }
        }
      }
    }


    .arrow-link-container.schedule{
        grid-column: 1/2;
        grid-row: 1/2;

        align-self: center;
        justify-self: center;

       
    }
    
    .cards-container{
        // justify-self: center;
        align-self: center;
        grid-column: 2/3;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        // display: grid;
        gap: 1em;
        padding: 1em;
        justify-items: center;
        justify-self: start;

        justify-items: center;
        align-items: start;


        a{
          color: $bold-navy;
          font-size: 1.2em;
          // text-align: start;
          text-align: center;
          justify-self: center;
          font-family: assistantBold;
          &:hover{
              transform: scale(1.1);

            }
        }

        a.dark-mode{
          color: $light-gray;
        }
        
    }
    
    .updates-carousel-container{
        
        grid-column: 1/-1;
        grid-row: 2/3;

        .update-banner{
          transition: background-color 0.3s  ease-in-out, box-shadow 0.3s ease; // Smooth transition
          background: linear-gradient(135deg, #6ec1e48e 0%, #a8e6a147 100%); // Gradient from light blue to soft green
          
          display: grid;
          grid-template-columns: 3em auto 1fr;
          gap: 1em;
          
          text-align: start;
          
          cursor: grab;
          
          p{
            
            margin-bottom: 0px;
          }
          @media (max-width:700px) {
            grid-template-columns: 50px auto 1fr;
            
            
            .title-container{
              align-self: start;
              grid-column: 2/3;
              grid-row: 1/2;
            }
            
            p{
              align-self: start;
              grid-column: 3/4;
              grid-row: 1/2;
              padding-bottom: 0.3em;
              padding-left: 0.3em;
              max-height: 80px;
              text-overflow: ellipsis;     /* Adds ellipsis (...) at the end if the text is too long */
              overflow-y: hidden;

            }
            
          }
          
          .title-container{
            grid-column: 2/3;
            display: grid;
            align-items: start;
            
            b{

              font-size: 1.1em;
            }
          }
          
        }

        .swiper-pagination-bullet {

          background-color: $dark-gray; /* Default color */
          border-radius: 50%;
          transition: transform 0.3s ease, background-color 0.3s ease;
        }
        
        /* Active bullet styles */
        .swiper-pagination-bullet-active {
          background-color: $dark-blue; /* Active color */
          transform: scale(1.4); /* Enlarged for active bullet */
        }
        
        
      }
      
      .updates-carousel.dark-mode{

        .swiper-pagination-bullet {
  
          background-color: white;
          border-radius: 50%;
          transition: transform 0.3s ease, background-color 0.3s ease;
        }
        
        /* Active bullet styles */
        .swiper-pagination-bullet-active {
          background-color: $very-light-blue;
          transform: scale(1.4); /* Enlarged for active bullet */
        }

      }
      
      .autoplay-progress.dark-mode{
        
        span{
          transition: 0.3s  ease-in-out;
          color: $primary-light-blue;
        }
        
        
        circle{
          transition: background-color 0.3s  ease-in-out; // Smooth transition
          stroke: $primary-light-blue; 
          
        }
        
      }
    
      
    }


// .head-container{
//     position: relative;


//     h3{
//         font-size: 2em;
//         margin: 2em;
//         position: relative;
//         background-color: transparent;
    
//         span{
//             padding: 0 1em; /* Horizontal padding for the span */
//             transition: background-color 0.3s ease;
//             position: relative; /* Make it relative to adjust positioning */
//             z-index: 1; 
    
//         }
    
//         &::after {
//             content: '';
//             position: absolute;
    
//             right: 0;
//             bottom: 20px;
//                 height: 2px;
//                 width: 100%; 
//                 background-color: $dark-blue; 
       
//             border-radius: 5px;
//           }
    
//     }
// }


}



.swiper {
    width: 240px;
    height: 320px;
  }
  
  .swiper-slide .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  
  .swiper-slide .cards:nth-child(1n) {
    background-color: rgb(206, 17, 17);
  }
  
  .swiper-slide .cards:nth-child(2n) {
    background-color: rgb(0, 140, 255);
  }
  
  .swiper-slide .cards:nth-child(3n) {
    background-color: rgb(10, 184, 111);
  }
  
  .swiper-slide .cards:nth-child(4n) {
    background-color: rgb(211, 122, 7);
  }
  
  .swiper-slide .cards:nth-child(5n) {
    background-color: rgb(118, 163, 12);
  }
  
  .swiper-slide .cards:nth-child(6n) {
    background-color: rgb(180, 10, 47);
  }
  
  .swiper-slide .cards:nth-child(7n) {
    background-color: rgb(35, 99, 19);
  }
  
  .swiper-slide .cards:nth-child(8n) {
    background-color: rgb(0, 68, 255);
  }
  
  .swiper-slide .cards:nth-child(9n) {
    background-color: rgb(218, 12, 218);
  }
  
  .swiper-slide .cards:nth-child(10n) {
    background-color: rgb(54, 94, 77);
  }
  