.item-details-container {
  text-align: start;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;

  padding: 2em;

  @media (max-width: 800px) {
    grid-template-columns: 1fr;

    .img-container {
      padding: 1em;
      grid-row: 1/2;
    }
  }

  a {
    grid-column: 1/-1;
    justify-self: end;
    display: flex;
    align-items: center;
    justify-items: center;

    color: $bold-navy;
  }

  a.dark-mode {
    color: $light-gray;
  }

  .title-container {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 1em;

    b {
      font-size: 4em;
      transition: 0.1s ease;
      font-family: assistantBold;

      @media (max-width: 1500px) {
        font-size: 3em;
      }
      @media (max-width: 1150px) {
        font-size: 2em;
      }
    }

    .price-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1em;
      align-items: center;
      justify-items: center;

      @media (max-width: 800px) {
        grid-template-columns: 1fr;
      }

      b {
        justify-self: start;
      }

      input {
        justify-self: end;
        text-align: center;
        &:focus {
          border-color: #3182ce; // Highlight color on focus
          background-color: #fff;

          &::placeholder {
            color: transparent; // Hide placeholder on focus
          }
        }
      }

      input[type='number']::-webkit-outer-spin-button,
      input[type='number']::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* For Firefox */
      input[type='number'] {
        -moz-appearance: textfield;
      }
    }

    .options-section-container {
      display: grid;
      justify-self: start;
      button {
        font-size: 1.2em;
        @media (max-width: 1500px) {
          font-size: 0.9em;
        }
        @media (max-width: 1150px) {
          font-size: 0.8em;
        }
      }
      b {
        font-size: 2em;
        transition: 0.1s ease;

        @media (max-width: 1500px) {
          font-size: 1.5em;
        }
        @media (max-width: 1150px) {
          font-size: 1em;
        }
      }
    }
  }

  .img-container {
    align-self: center;
    padding: 2em;
    img {
      border-radius: 5px;
    }
  }

  .preview-container {
    grid-column: 1/-1;
    align-self: start;

    display: grid;
    gap: 1em;
    span {
      font-size: clamp(1em, 2.5vw, 1.5em);
    }

    @media (min-width: 800px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .bullet-container {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 1em;
  }

  .quantity-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-items: center;
    gap: 0.5em;

    span {
      justify-self: start;
      grid-column: 1/-1;
    }

    button {
      margin: 0px;
      font-size: 0px;
      padding: 3px;
      // width: 100%;
      // padding: 12px 15px;
      // font-size: 16px;
      border: 2px solid #ccc;
      border-radius: 8px;
      outline: none;
      background-color: #f9f9f9;
      transition: border-color 0.3s, background-color 0.3s;

      &:focus {
        border-color: #3182ce; // Highlight color on focus
        background-color: #fff;

        &::placeholder {
          color: transparent; // Hide placeholder on focus
        }
      }
    }

    &::placeholder {
      color: #999;
      transition: color 0.3s;
    }
  }

  p {
    font-size: clamp(1em, 2.5vw, 2em);
  }
}
