

.item-details-container{
    text-align: start;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(2,1fr);
    gap: 1em;

    padding: 2em;

    @media (max-width:800px) {
        grid-template-columns: 1fr;

        .img-container{
            grid-row: 2/3;
        }

       
        
    }

    a{
        grid-column: 1/-1;
        justify-self: end;
        display: flex;
        align-items: center;
        justify-items: center;

        color: $bold-navy;

    }

    a.dark-mode{
        color: $light-gray;
    }

    .title-container{
        display: grid;
        align-items: center;
        justify-items: center;
        gap: 1em;

        b{

            font-size: 2em;

        }


        .price-container{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 1em;
            align-items: center;
            justify-items: center;


            @media (max-width:800px) {
                grid-template-columns: 1fr;
                
            }

            input{
                text-align: center;
                &:focus {
                    border-color: #3182ce; // Highlight color on focus
                    background-color: #fff;
              
                    &::placeholder {
                      color: transparent; // Hide placeholder on focus
                    }
                  }
            }


            input[type="number"]::-webkit-outer-spin-button,
            input[type="number"]::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            /* For Firefox */
            input[type="number"] {
            -moz-appearance: textfield;

            }
        }

    }

    .img-container{
        align-self: center;
        img{
            border-radius: 5px;
        }
    }

    .preview-container{
        grid-column: 1/-1;
        align-self: start;

    }
    
    .quantity-container{
                    display: grid;
                    grid-template-rows: repeat(2,1fr);
                    grid-template-columns: repeat(3,auto);
                    align-items: center;
                    justify-items: center;
                    gap: 0.5em;
    
                    span{
                        justify-self: start;
                        grid-column: 1/-1;
                    }
    
                    button{
                        margin: 0px;
                        font-size: 0px;
                        padding: 3px;
                        // width: 100%;
                        // padding: 12px 15px;
                        // font-size: 16px;
                        border: 2px solid #ccc;
                        border-radius: 8px;
                        outline: none;
                        background-color: #f9f9f9;
                        transition: border-color 0.3s, background-color 0.3s;
    
                        &:focus {
                          border-color: #3182ce; // Highlight color on focus
                          background-color: #fff;
                    
                          &::placeholder {
                            color: transparent; // Hide placeholder on focus
                          }
                        }
                    }
                
                    &::placeholder {
                      color: #999;
                      transition: color 0.3s;
                    }
                
              
                }
}
