.schedule-container{
    display: flex;
    flex-direction: column;

    

    .schedule-img-container{


        align-self: center;
        justify-self: center;
        display: flex;
        align-items: center;
        justify-items: center;

        // width: 80vw;

        // margin: auto;
        margin-bottom: 1em;

        transition: 0.2s;
      

        img{
            max-width: 1000px;

            width: 80vw;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

        }
    }

    .control-container{
        margin: 1em;
    }
}