/* SuccessPage and ErrorPage Styles */
.success-page, .error-page {
    text-align: center;
    padding: 20px;
    display: grid;
    justify-items: center;
    width: 50%;
    margin: auto;
    margin-top: 3em;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 5px;
    
    @media (max-width:1000px) {
        
        width: 300px;
    }
  
  .success-page h1, .error-page h1 {
    color: green;
  }
  
  .error-page h1 {
    color: red;
  }
  
  .transaction-details, .error-details {
    margin-top: 20px;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50; /* Green for success */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
   }