.update-control-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 1em;
    position: static;

    @media (max-width:1200px) {
            
     display: block;       
            
    }
    
    .input-container{
        margin: 0px;
        padding: 0px;
        align-self: start;
        display: grid;
        justify-items: center;
        gap: 1em;
        input{
            
            width: 500px;
        }
        
        textarea{
            width: 500px;
            height: 300px;

        }


        button{
            // justify-self: end;
        }
    }

    .list-control-container{
        display: grid;
        gap: 1em;
    }
}


