
.user-details {

    
    .list-container{


    }
    
    .no-orders-container{
        
        a{

            font-size: 1.5em;
            font-family: assistantBold;
            transition: 0.2s ease;

            &:visited{
                color: $dark-blue;
                
                &:hover{
                    color: $bold-navy;
                }
            }
            
            &.dark-mode{
                
                &:visited{

                    color: white;
                }
                &:hover{

                    color: $light-gray;
                }

            }
        }

        display: grid;
        justify-items: center;
        gap: 2em;
        img{
            margin-right: 4em;
            width: 50vw;
            max-width: 400px;
        }
    }
}