.app-footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;

    min-height: 3.5rem;
    font-size: 1.2em;

    // padding: rem(10px) 1rem;
    // background-color: $primary-light-blue;

    p {
        margin: 0;
    }
    
    span {
        // font-size: .8em;
        
        &.local-services {
            // color: $clr1;
        }
        
        &.remote-services {
            // color: $clr5;
        }
    }

    a{
      color: $bold-navy;
      &:visited {
        color: $bold-navy;
      }
      
      &.dark-mode{
        color: $light-gray;
        &:visited {
          color: $light-gray;
        }
      }
      
    }

    .contact-container{
        // display: grid;
        // grid-template-columns: repeat(3,1fr);
        // grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); // Responsive grid

        gap: 1em;


        .method-container{
            // display: flex;
            // min-width: 250px;
        }

    }
}

.app-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    background-color: $primary-light-blue;
    color: $bold-navy;

    padding: 20px;
    // font-size: 14px;
    // color: #333;
    height: fit-content;
  
    .contact-container {
      display: flex;
      justify-content: space-around;  
        gap: 1em;
      // width: 100%;
      // min-width: fit-content;
      // max-width: 800px;
      margin-bottom: 15px;


      @media (max-width:830px) {
        
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); // Responsive grid
      }
      // justify-items: center;
    

      
      .method-container {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        // font-size: 2em;
        // color: #333;
        span{
          // color: $bold-navy;
        }


        font-size: 1.2em;
        
        @media (max-width:870px) {
          
          font-size: 1.1em;
        }
        svg {
          font-size: 25px;
          font-size: 2em;
          @media (max-width:870px) {
            
            font-size: 1.5em;
          }
          //   color: #666;
        }
        
      }
    }
    
    .links-container {
      display: flex;
      justify-content: center;

      gap: 3em;
      margin-bottom: 10px;
  
      svg {
        font-size: 24px;
        font-size: 3em;
        // color: #555;
        cursor: pointer;
        transition: color 0.3s;
        
        
      }
      
      
      .social-container{
        transition: color 0.3s;
        transition: 0.2s ease-out;
        &:hover {
            //   color: #4267B2; 
            transform: scale(1.1);
        }
        
    }

    }
  
    span {
      // font-size: 15px;
      // color: $bold-navy;
    }
  
    // Responsive adjustments
    @media (max-width: 750px) {
      .contact-container {
        flex-direction: column;
        align-items: center;
      }
  
      .method-container {
        // font-size: 14px;
  
        svg {
          font-size: 18px;
        }
      }
    }
  }