.app-header {
    display: flex;
    min-height: 3.5rem;

    background-color: white;
    background-color: $very-light-blue;
    padding: rem(10px) 1rem;
    transition: 0.3 ease-out;
    z-index: 2;
    position: relative;


    
    nav {
        

        display: grid;
        grid-template-columns: repeat(6,1fr);
        display: flex;
        gap: 2em;
        font-size: 2em;
        a{
            transition: 0.2s ease-in;
        }
        .logo {
            font-size: 1.4em;
            font-weight: bold;
            // margin-inline-end: 2em;
        }
        img{
            opacity: 0.8;
            height: 100px;

            transition: 0.15s ease-in;
            
            &:hover{
                opacity: 1;
                transform: scale(1.05);
            }
        }


        .login-link {
            margin-inline-start: auto;
        }

        button {
            margin-inline-end: 0;
        }
    }

    .user-info {
        display: flex;
        align-items: center;
        margin-inline-start: auto;
        gap: 0.5em;

        // color: $clr1;

        .score {
            padding: 8px;
            // background-color: $clr2;
            border-radius: 50%;
            margin: 10px;

            // color: $clr6;
        }

        img {
            width: 32px;
            aspect-ratio: 1;
            border-radius: 50%;
        }
        
        .btn-link {
            // color: $clr2;
        }
    }

   
}    

.app-header.sticky{
    position: sticky;
    top: 0px;
    font-size: 0.5em;
    transition: height 0.3s ease-out, box-shadow 0.3s ease-out;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    height: 100px;
    opacity: 0.8;

}