.contact-us-container{

    @media (max-width:750px) {
        

        .input-container{

            justify-self: center;
        }
        
    }

    .contact-cmp-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
        @media (max-width:750px) {
            
            grid-template-columns: 1fr;
            
        }
        

            

            .arrow-link-container{
                @media (max-width:750px) {
                    
                    padding: 1em;
                    
                }


            }


    }
    .input-container{

        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        // padding: 0em 5em 2.5em 5em;
        min-width: 250px;
        max-width: 1000px;
        // margin-inline-start: 1em;
        width: 60%;
        max-width: 800px;
        // margin: auto;
        margin-bottom: 1em;

        gap: 1em;

        input{
            // width: 50%;
            max-width: 400px;
            align-self: start;
        }
        
        textarea{
            align-self: start;
            // width: 60%;
            height: 300px;
        }

      
        @media (max-width:550px) {
            input, textarea{
                width: 100%;
            }
            
            
        }
    }

    button{
        justify-self: end;
        // align-self: end;
    }
}