.list-header{
    display: grid;
    grid-template-columns: 150px 1fr 100px;
    gap: 0.8em;

    font-family: assistantBold;
    font-size: 1.1em;

    text-align: start;
    align-items: center;

    padding: 1em;

    transition:  0.3s  ease-in-out;// Smooth transition
    // background: linear-gradient(270deg, #6ec1e411 0%, #a8e6a118 100%); // Gradient from light blue to soft green
    border-bottom: 2px solid rgba(51, 51, 51, 0.433);

    margin: 0px;
}

.info-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1em;
}

.coupon-container{

    .buttons-container{

        display: flex;
        align-items: center;
        gap: 1em;
    }
}