.menu {
  position: 'relative';
  text-align: start;
}

.dropdown-menu {
  z-index: 2;
  //   background: #fff;
  box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
  transition: all linear 0.3s;
  position: absolute;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;

  &:hover {
    opacity: 1;
  }

  ul {
    list-style: none;
    padding: unset;
    margin: unset;
  }

  .options-container {
    border-radius: 5px;

    li {
      padding: 14px;
      transition: all linear 0.1s;
      background-color: #fff;

      &:hover {
        background-color: $light-gray;
        background-color: #eeeeee;

        &.active {
          background-color: $primary-light-blue;
        }
      }

      &:first-of-type {
        border-top-left-radius: 8px;
      }
      &:last-of-type {
        border-bottom-left-radius: 8px;
      }
    }
    &.dark-mode {
      li {
        background-color: $very-dark-blue;
        color: #fff;
        &:hover {
          background-color: $darkest-blue;
          color: white;
        }
        &.active {
          color: $dark-green;
          background-color: $darkest-blue;
          &:hover {
            background-color: $darkest-blue;
            color: $dark-green;
          }
        }
      }
    }
  }
  li.active {
    color: $bold-navy;
    background-color: $primary-light-blue;
  }
  &.ltr {
    li {
      &:first-of-type {
        border-top-right-radius: 8px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }
      &:last-of-type {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 8px;
      }
    }
  }
}
