.item-filter {
    display: grid;
    grid-template-columns: 1fr 5em 5em auto;
    align-items: center;
    gap: 0 .5em;

    // background-color: $clr4;
    padding: .5em;

    .type-container{
        display: flex;
        gap: 0.5em;
    }

    .price-range-container{
        grid-column: 1/2;
        grid-row: 2/3;
        display: grid;
        grid-template-rows: repeat(2,1fr);

        .prices-container{
            justify-self: center;
            display: flex;
            place-items: center;
            gap: 0.8em;

            input{
                width: 100px;
                text-align: center;
            }

        }

    }

    .checkbox-container{
        input[type="checkbox"]{
            display: none;
        }
        label{
            padding: 5px;
            border-radius: 5px;
            outline: 1px solid $bold-navy;
            background-color: white;
            user-select: none;

        }
        &:has(input:checked) label{
            color: $bold-navy;
            background-color: $primary-light-blue;

        }
    }

    h3 {
        grid-column: 1 / -1;
        font-size: rem(14px);
        margin: 0;
    }

    & :not(h3) {
        cursor: pointer;
    }

    input:is([type="text"], [type="number"]){
        height: 1.8em;
        border: none;
        // border-block-end: 1px solid $gray1;
    
        &:focus {
            outline: none;
            // background-color: $gray1;
        }
    }


    .btn-clear {
        grid-column: 4;
    }

    .sort-field, .sort-dir {
        display: flex;
        align-items: center;
        gap: 1em;

        // margin-inline-start: .4em;

        font-size: .8em;
    }

    .sort-dir {
        grid-column: 2 / 3;
    }

    input[type="radio"] {
        display: none;
    }

    label {
        span {
            font-size: .9em;
            padding: 0.1em 0.3em;
            // outline: 1px solid $gray1;
        }

        &:has(:checked) span  {
            // background-color: $clr3;
            // color: $gray1;
        }
    }
}