.login-form,.signup-form{

    // display: grid;
	// width: 80vw;
	// align-items: center;
	// justify-items: center;

    // margin: auto;
    // width: 50%;
	padding: 1em;
    form{
        margin-top: 2em;
        // min-width:300px;
        // width: 40vw;
    }

    .input-container{

        display: grid;
        grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px;
    align-items: center;
    justify-items: center;
    gap: 1em;
    font-size: 0.8em;

    input{
        max-width: 600px;
        min-width: 300px;
    }
    }

    .input-container.error{
        input{
            border: 2px solid $light-red;
        }
    }

}
