.list-item-container.message {
  grid-template-columns: auto 150px 1fr auto;
  border: 0px;
  //   padding-bottom: 0px;
  //   padding-top: 0px;
  &:first-of-type {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
  &:last-of-type {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  border-right: 20px solid darken($light-yellow, 10%);

  background: linear-gradient(135deg, #6ec1e4b0 0%, #a8e6a1b0 100%);
  &.done {
    border-right: 20px solid darken($soft-green, 10%);
  }
}

.list-item-container.message.done {
  font-family: assistantMedium;
  color: $dark-gray;
  //   font-size: 1em;
  background: none; // Gradient from light blue to soft green
  &:hover {
    background: linear-gradient(
      135deg,
      #6ec1e48e 0%,
      #a8e6a147 100%
    ); // Gradient from light blue to soft green
    // background-color: $medium-gray;
  }

  .checkbox-container:has(input:checked) {
    label {
      background-color: $dark-green;

      &:hover {
        background-color: $dark-green-hover;
      }
    }
  }
}

.list-item-container.message.done.dark-mode {
  color: $light-gray;
}
