.day-controlls-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;

    span{
        font-size: 1.2em;
        font-weight: bold;
    }
    
    &.dark-mode{
        button{

            color: $light-gray;
        }
    }
}
