.slot-card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;

    min-width: 200px;
    border-radius: 3px;
    margin-bottom: 0.5rem;


    background-color: rgba(255, 255, 255, 0.909);


    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    &.dark-mode {
        background-color: $dark-gray;
    }

    .thumbnail {
        font-family: assistantBold;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        padding-block: 20px;
        font-size: 1.2em;
        
        &.pool{

            background-color: $primary-light-blue;
            &.dark-mode {
                background-color: $dark-blue;
            }
        }

        &.gym{
            background-color: $soft-green;
            &.dark-mode {
                background-color: $dark-green;
            }
        }


    }

    .content-container {
        display: grid;
        padding: 1rem;
        gap: 0.5rem;

    }

    .details {
        display: flex;

        gap: 0.5rem;
        .date{

        }
        font-family: assistantBold;

    }

    .progress-container {
        display: grid;
        grid-template-columns: auto auto 1fr auto;

        align-items: center;
        gap: 1rem;
    }

    button{
        display: flex;
        align-items: center;
        gap: 0.2rem;
    }
}