.store-banner {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  position: relative;

  margin-top: 2em;

  //   color: $bold-navy;
  border-radius: 0.5rem;
  cursor: pointer;

  @media (min-width: 1024px) {
    padding: 2rem;
  }

  @media (max-width: 800px) {
    // padding: 0.5em;
    font-size: 0.625em;
  }

  .cover-container {
    filter: blur(1px);
    background-color: $primary-transparent-blue;
    position: absolute;
    inset-inline-end: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    display: flex;
    justify-content: end;
    align-items: center;
    &.dark-mode {
      background-color: transparent;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // Fade image into background (opacity transition from left)
      mask-image: linear-gradient(to right, transparent 0%, black 90%);
      -webkit-mask-image: linear-gradient(to right, transparent 0%, black 90%);
      mask-size: 100% 100%;
      mask-position: 0 0;
      -webkit-mask-size: 100% 100%;
      -webkit-mask-position: 0 0;
    }

    &.he {
      img {
        mask-image: linear-gradient(to left, transparent 0%, black 90%);
        @media (max-width: 800px) {
          mask-image: linear-gradient(to left, transparent 0%, black 110%);
        }
      }
    }
  }

  .empty-cart {
    max-height: 100px;
    z-index: 2;

    &.he {
      transform: scaleX(-1);
    }
  }

  &.dark-mode {
    .empty-cart {
      filter: invert(1);
    }
  }

  .text-container {
    display: grid;
    z-index: 2;
    h4 {
      font-family: assistantBold;
      margin-bottom: 0px;
    }
  }

  button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
