.updates-container{
    display: grid;
    background-color: $light-gray;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 3px, rgba(60, 64, 67, 0.15) 0px 1px 3px;
    // min-height: 100px;
    transition: background-color 0.3s  ease-in-out, box-shadow 0.3s ease; // Smooth transition
    
    background: linear-gradient(135deg, #6ec1e48e 0%, #a8e6a147 100%); // Gradient from light blue to soft green
    
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;

    // max-height: calc(0.6em * 2 + 600px);
    height: 600px;
    overflow-y: auto;
    &:first-of-type{
    }
    
    &:last-of-type{
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        
    }
    
    position: relative; /* Ensure proper positioning */
    box-sizing: border-box; 
    
    .update-container{
        padding: 0.6em; // Slight increase for better spacing
        display: grid;
        grid-template-columns: 200px 1fr auto;
        gap: 1em;
        align-items: center;
        justify-items: start;
        transition: 0.2s ease;
        background: linear-gradient(135deg, #6ec1e440 0%, #a8e6a11e 100%); // Gradient from light blue to soft green
        
      height: 100px;
        // max-height: calc(0.6em + 100px);
        p{
            text-align: start;
            margin: 0px;
        }
        &:first-of-type{
              
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
        }
        
        &:last-of-type{
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            
        }
        .title-container{
            display: grid;
            text-align: start;
            b{
                font-family: assistantBold;
            }

        }

          
    }
    .dragging {
      cursor: grabbing;
      opacity: 0.8;
      z-index: 9999;

        border-bottom: 2px solid $dark-blue;
    }
    
    .update-container.dragging {
        // padding: 0.2em;
    }
    
    .update-container.draggable{
        cursor: grab;

        &:hover{
    
            background-color: $medium-gray;
        }
    }
    
    .update-container.dragging{
        
        
      }

    
    
}

