button {
	border: 0;
	// background-color: $clr1;
	color: whitesmoke;
	padding: 5px 10px;
	margin: 5px;
	cursor: pointer;
}

nav {
    display: flex;
    width: 100%;
    align-items: center;

    gap: 1em;
    
    font-size: .8em;
    a{

        color: $dark-blue;

        
        &:hover{
            color: $bold-navy;
            
        }
    }
    
    .active {
        color: $dark-green;
        &:hover{

            color: $dark-green-hover;
        }
    }
}

.btn-link {
	border: 0;
	background-color: transparent;
	// text-decoration: underline;
	transition: 0.5s;
}
.btn-link:hover {
	// background-color: $clr1;
}