.main-container{
    // width: 100vw;

    // overflow-y: auto;
    // overflow-x: hidden;
    // min-height: 100vh;

    // position: static;
    // display: grid;
    // grid-template-columns: 1em 1fr 1em;
    // grid-template-rows: 150px 1fr 3rem;

    
    // direction: rtl;

    > * {
        grid-column: 2;

    }
    
    .full {
        grid-column: 1 / -1;

    }


}

.page-container{
    min-height: calc(100vh - 3em);
}