@font-face {
    font-family: 'Alef';
    src: url('../../../../public/fonts/Alef-Regular.woff2') format('woff2'),
         url('../../../../public/fonts/Alef-Regular.woff') format('woff'),
         url('../../../../public/fonts/Alef-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  // Apply to body and headings
  body {
    font-family: 'Alef', sans-serif;
    font-size: 16px;
  }
  

h1, h2, h3, h4, h5, h6 {

  font-weight: 700;
}
