// Primary Colors
$primary-light-blue: #6EC1E4;
$soft-green: #A8E6A1;

// Secondary and Accent Colors
$dark-blue: #4A90E2;
$dark-green: #4CAF50;
$dark-green-hover: #2f7432;
$neutral-gray: #F5F5F5;

$bold-navy: #2C3E50;
$very-light-blue: #dff9ff;


// Shades of Red
$light-red: #F28B82;
$medium-red: #E53935;
$dark-red: #B71C1C;

// Shades of Gray
$light-gray: #E0E0E0;
$medium-gray: #9E9E9E;
$dark-gray: #424242;
