// Primary Colors
$primary-light-blue: #6ec1e4;
$soft-green: #a8e6a1;
$soft-light-blue: #9dd6ee;
$soft-blue: #589be7;
$primary-transparent-blue: rgba(110, 193, 228, 0.4);

// Secondary and Accent Colors
$dark-blue: #4a90e2;
$dark-green: #4caf50;
$dark-green-hover: #2f7432;
$neutral-gray: #f5f5f5;
$medium-green: #7de372;

$bold-navy: #2c3e50;
$very-light-blue: #dff9ff;
$very-dark-blue: #263039;
$darkest-blue: #181e24;

$morning-yellow: rgb(238, 238, 6);
$light-yellow: rgb(234, 234, 101);

// Shades of Red
$light-red: #f28b82;
$medium-red: #e53935;
$dark-red: #b71c1c;

// Shades of Gray
$light-gray: #e0e0e0;
$medium-gray: #9e9e9e;
$dark-gray: #424242;
$very-dark-gray: #1d1d1d;
