@import 'setup/variables.scss';
// @import "setup/mixins.scss";
// @import "setup/functions.scss";
@import 'setup/typography.scss';

@import 'basics/helpers.scss';
@import 'basics/layout.scss';
@import 'basics/base.scss';
@import 'basics/forms.scss';

// pages
@import 'App.scss';

@import 'pages/HomePage.scss';
@import 'pages/ItemIndex.scss';
@import 'pages/ItemEdit.scss';
@import 'pages/ItemDetails.scss';
@import 'pages/UserDetails.scss';
@import 'pages/LoginSignup.scss';
@import 'pages/AboutUs.scss';
@import 'pages/Activities.scss';
@import 'pages/Schedule.scss';
@import 'pages/Cart.scss';
@import 'pages/UpdateIndex.scss';
@import 'pages/UpdateEdit.scss';
@import 'pages/TrainerDetails.scss';
@import 'pages/MessageIndex.scss';
@import 'pages/TrainerEdit.scss';
@import 'pages/ClassIndex.scss';
@import 'pages/ClassDetails.scss';
@import 'pages/MessageDetails.scss';
@import 'pages/ClassEdit.scss';
@import 'pages/UserDetails.scss';
@import 'pages/Facilities.scss';
@import 'pages/AdminIndex.scss';
@import 'pages/OpeningTimes.scss';
@import 'pages/MemberIndex.scss';
@import 'pages/SuccessErrorPage.scss';
@import 'pages/Orders.scss';
@import 'pages/UserIndex.scss';
@import 'pages/UnderConstruction.scss';

@import 'cmps/AppHeader.scss';
@import 'cmps/DropDown.scss';
@import 'cmps/AppFooter.scss';
@import 'cmps/UserMsg.scss';
@import 'cmps/ItemList.scss';
@import 'cmps/Accessibility.scss';
@import 'cmps/Loader.scss';
@import 'cmps/LoginSignupForm.scss';
@import 'cmps/DynamicCover.scss';
@import 'cmps/SwiperCarousel.scss';
@import 'cmps/MouseWheelCarousel.scss';
@import 'cmps/Updates.scss';
@import 'cmps/ContactUs.scss';
@import 'cmps/Cards.scss';
@import 'cmps/TrainerFilter.scss';
@import 'cmps/TrainersList.scss';
@import 'cmps/CartList.scss';
@import 'cmps/Quantity.scss';
@import 'cmps/UpdatesList.scss';
@import 'cmps/MessagesList.scss';
@import 'cmps/MessagesFilter.scss';
@import 'cmps/IntensityRange.scss';
@import 'cmps/CouponList.scss';
@import 'cmps/Switch.scss';
@import 'cmps/ActivityInfo.scss';
@import 'cmps/GoogleMapCmp.scss';
@import 'cmps/Preloader.scss';
@import 'cmps/Accordion.scss';
@import 'cmps/MessageModal.scss';
@import 'cmps/VisibleCards.scss';
@import 'cmps/MemberTypes.scss';
@import 'cmps/LegalContent.scss';

@import 'cmps/ItemFilter.scss';
